@{
    ViewData["Title"] = "Error";
}

<style>
    body {
        background-color: #2c2c2c; /* Fondo oscuro */
        color: #e0e0e0; /* Texto claro */
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 600px;
        margin-top: 20px;
        padding: 20px;
        background-color: #343a40; /* Fondo del contenedor oscuro */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        text-align: center;
    }

    h1 {
        color: #ffffff; /* Texto blanco para el encabezado */
    }

    p {
        color: #e0e0e0; /* Texto claro para el mensaje de error */
    }

    .btn-secondary {
        background-color: #6c757d; /* Color de fondo del botón secundario */
        border-color: #6c757d;
        color: #ffffff; /* Texto blanco en botones */
    }

        .btn-secondary:hover {
            background-color: #5a6268; /* Color de fondo al pasar el ratón sobre el botón secundario */
            border-color: #4e555b;
        }
</style>

<div class="container">
    <h1>Error</h1>
    <p>@ViewBag.ErrorMessage</p>

    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>
