@{
    ViewData["Title"] = "Error";
}

<style>
    /* Estilos personalizados */
    .header {
        background-color: #343a40; /* Fondo negro oscuro */
        color: #ffffff;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        margin-bottom: 20px;
    }

    .error-container {
        background-color: #495057; /* Fondo gris oscuro */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        color: #ffffff;
        text-align: center;
    }

    .btn-custom-secondary {
        background-color: #6c757d; /* Color gris */
        border-color: #6c757d;
    }

        .btn-custom-secondary:hover {
            opacity: 0.9; /* Efecto hover */
        }

    .btn i {
        margin-right: 5px; /* Espacio entre icono y texto */
    }
</style>

<h1 class="header">Error</h1>

<div class="error-container">
    <p>@ViewBag.ErrorMessage</p>
    <a asp-action="index" class="btn btn-custom-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>
